.banner{
    background-image: url("https://i.ibb.co.com/sdwHHvsP/bg-shadow.png");
}

.button-border{
    border: 1.5px solid goldenrod;
    border-radius: 10px;
}

.FreeCredit:hover{
    background-color: rgb(241, 195, 135);
    
}